{% extends "base.html" %}

{% block contenido %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-primary">
		<div class="col-md-6 px-0">
			<h1 class="display-4 fst-italic">Instituto Barranqueras</h1>
			<p class="lead my-3">Diagonal Eva Perón 425 <br>
													 Redes sociales:<br>
														https://www.instagram.com/institutobarranqueras/
														https://www.facebook.com/institutobarranqueras
			</p>
		</div>
	</div>


</main>

{% endblock contenido %}
		
	</body>
</html> 