{% extends "base.html" %}
{% block contenido %}
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-primary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Noticias</h1>

      </p>
    </div>
  </div>
  <div class="card text-end"> 
    
    <div class="blog-header lh-1 py-3">
      
      
      <form class="form" method="get">
        
        {{ filtro.form }}
        <input class="btn btn-info" type="submit" value="Filtrar"/>
        {% if user.is_superuser %} 
        <a href="{% url 'blog:crear' %}"><button class="btn btn-success" type="button">Crear noticia</button></a> 
        {% endif %}
    
    <a href="{% url 'inicio' %}"><button class="btn btn-primary" type="button">Inicio</button></a> 
  </form>

     
  </div>
  </div>

  <br>
   
  
  <br>
<center>
  
    
  
    
    {% for f in post  %}
    
    <div>

    <div class="card" style="width: 35rem;">
        <h6 class="text-uppercase text-primary text-start m-2">{{f.categoria}}</h6>
        <h4 class="card-title text-uppercase text-start m-2" >{{f.titulo_not}}</h4>
        
        <div class="card-body">
          <img src="{{f.imagenes.url}}" class="card-img-top" alt="...">
          <p class="card-text text-start mt-2">{{f.excerpt}}</p>
          <p class="card-text text-start"><small class="text-muted">{{f.published}} </small></p>
        </div>
      
      <p class="text-end">
          <a href="{% url 'blog:blog' f.id %}"><button class=" btn btn-lg btn-primary">Leer</button></a> 
            
        {% if user.is_superuser %}
           
          <a href="{% url 'blog:actualizar' f.id %}"><button class=" btn btn-lg btn-warning">Editar</button></a>
         
          <a href="{% url 'blog:eliminar' f.id %}"><button class=" btn btn-lg btn-danger">Eliminar</button></a>
        {% endif %}
      </p>
      
      </div>
      
  
  </div>
  <br>
    {% endfor %}
    {% if post.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if post.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ post.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in post.paginator.page_range %}
          {% if post.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if post.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ post.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
  </center> 
{% endblock contenido %}
