{% extends "base.html" %}

{% block contenido %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-primary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Noticias</h1>

      </p>
    </div>
  </div>
  {% if user.is_superuser %} 
    <a href="{% url 'blog:crear' %}"><button class="w-100 btn btn-lg btn-primary">Crear Noticias</button></a>  
  {% endif %}
  {% for p in post %}
<div class="card-group">
  <div class="card">
    <img src="{{p.imagenes.url}}" width="100" alt="" srcset="">
    <div class="card-body">
      <h5 class="card-title">{{ p.titulo_not }}</h5>
      <p class="card-text">{{ p.excerpt }}</p>
      <p class="card-text">{{ p.contenido_no }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ p.published }}</small>
    </div>
    <a href="{% url 'blog:blog' p.id %}"> Ver </a>
    
    {% if user.is_superuser %}  
      <a href="{% url 'blog:actualizar' p.slug %}"><button class="w-100 btn btn-lg btn-primary">Actualizar</button></a>
      <a href="{% url 'blog:eliminar' p.slug %}"><button class="w-100 btn btn-lg btn-primary">Eliminar</button></a>
    {% endif %}
  </div>
  
{% endfor %}

 
{% endblock contenido %}
